
div.numberedtextarea-wrapper { position: relative; }

div.numberedtextarea-wrapper textarea {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div.numberedtextarea-line-numbers {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  color: rgba(0, 0, 0, 0.5);
  background-color: #EEE;
  overflow: hidden;
  font-size: 10pt;
  font-family: monospace;
  line-height: normal !important;
}

div.numberedtextarea-number {
  padding-right: 6px;
  text-align: right;
}
